<%= render './error_form', user: @user  %>
<h2>User info</h2>
<%= form_with model:@user, lacal:true do |f| %>
  <div>
    <p>Name</p>
    <%= f.text_field :name, autofocus: true, placeholder:"名前"%>
  </div>
  <div>
    <p>Image</p>
    <%= f.attachment_field :profile_image %>
  </div>
  <div>
    <p>Introduction</p>
    <%= f.text_area :introduction%>
  </div>  
  <%= f.submit "Update User" %>
<% end %>