<%= render './error_form', user: @book  %>

<h1>画像投稿フォーム</h1>
<%= form_with model: @book, local:true do |f| %>
  <h4>title:</h4>
  <%= f.text_field :title %>
  <h4>body:</h4>
  <%= f.text_area :body %>
  <%= f.submit '投稿' %>
<% end %>

<h1>全投稿</h1>
<% @books.each do |book| %>
  <%= book.id %>
  <%= link_to book.title,  book_path(book.id)  %>
  <%= book.body %>
  <br>
<% end %>