<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-dark">
      <nav class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
          <%= link_to "Bookers", root_path, class:"navbar-brand" %>
          <ul class = "navbar-nav me-auto mb-list-unstyled">
            <% if user_signed_in? %>
              <li class=" list-unstyled ">
                <%= link_to user_path(current_user)  do %>
                  <i class="fas fa-home text-light nav-link"> Home</i> 
                <% end %>
              </li>
              <li class="nav-item list-unstyled ">
                <%= link_to  users_path  do %>
                  <i class="fas fa-users text-light nav-link"> Users</i>
                <% end %>
              </li>
              <li class="nav-item list-unstyled">
                <%= link_to  books_path do %>
                  <i class="fas fa-book-open text-light nav-link"> Books</i> 
                <% end %>
              </li>
              <li class="nav-item list-unstyled">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt text-light nav-link"> log out</i>
                <% end %>
              </li>
            <% else %>
              <li class=" list-unstyled ">
                <%= link_to root_path  do %>
                  <i class="fas fa-home text-light nav-link"> Home</i> 
                <% end %>
              </li>
              <li class="nav-item list-unstyled ">
                <%= link_to  home_about_path  do %>
                  <i class="fas fa-link text-light nav-link"> About</i>
                <% end %>
              </li>
              <li class="nav-item list-unstyled">
                <%= link_to  new_user_registration_path do %>
                  <i class="fas fa-user-plus text-light nav-link"> sign up</i> 
                <% end %>
              </li>
              <li class="nav-item list-unstyled">
                <%= link_to new_user_session_path do %>
                  <i class="fas fa-sign-in-alt text-light nav-link"> login</i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    
    <div class="mb-5">
      <% if flash[:notice] %>
        <span class="text-success">
          <%= flash[:notice] %>
        </span>
      <% end %>å
    </div>
    
    <%= yield %>
    
    <footer>
        <div class="mt-5 container">
          <div class="row">
            <div class="mx-auto">
              <p>CopyRight infratop.inc</p>
            </div>
          </div>
        </div>
    </footer>
    
    <script src="https://kit.fontawesome.com/e1240415e9.js" crossorigin="anonymous"></script>
  </body>
</html>
