<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-dark">
      <% if user_signed_in? %>
        <%= link_to "Home",  root_path %>
        <%= link_to "Users",  users_path %>
        <%= link_to "Books",  books_path %>
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Home",  root_path %>
        <%= link_to "About",  home_about_path %>
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Log in", new_user_session_path %>　     
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
